.keyIndicatorsWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    margin-top: 80px;
}

.keyIndicatorWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.keyIndicator {
    font-family: 'Druk Bold Regular';
    font-size: 44px;
}

.label {
    font-family: 'SimpleMono-Regular';
    font-size: 18px;
}

.labelSmall {
    font-family: 'Druk Bold Regular';
    font-size: 20px;
}