.keyIndicatorsWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    margin-top: 100px;
    height: auto;
}

.keyIndicatorWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-width: 200px;
    min-height: 100px;
}

.keyIndicator {
    font-family: 'Druk Bold Regular';
    font-size: 44px;
}

.keyIndicatorScore {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.star {
    color: #FFB400;
}

.label {
    font-family: 'SimpleMono-Regular';
    font-size: 15px;
    position: absolute;
    top: 60px;
    text-align: center;
    min-width: 200px;
}

.labelSmall {
    font-family: 'Druk Bold Regular';
    font-size: 20px;
}

@media (max-width: 500px) {
    .keyIndicatorsWrapper {
        margin-top: 20px;
    }
}