.landingPageContainer {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 100px;
    font-family: 'Boogie School Sand';
    margin-top: 200px;
}

.login {
    font-size: 50px;
    font-family: 'SimpleNorm-Regular';
    border: none;
    border-bottom: 1px solid #F9DE4B;
    cursor: pointer;
    background: none;
    width: fit-content;
    margin-top: 30px;
}

@media (max-width: 700px) {
    .title {
        font-size: 60px;
    }
    
    .login {
        font-size: 40px;
    }
}