.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 71px;
    height: auto;
    background: #ADD2DD;
    color: #343C44;
    align-items: center;
}


.logoTitle {
    font-family: 'Druk Bold Regular';
    font-size: 33px;
    margin-left: 30px;
    border: none;
    background: none;
    cursor: pointer;
}

.logoTitle:hover {
    text-shadow: 0 4px 12px rgba(149,157,165,.2);
}

.headerAvatarWrapperSmall {
    width: 50px;
    height: 50px;
    background-size: cover;
    box-shadow: 0 4px 12px rgba(149,157,165,.2);
    border-radius: 50%;
    border: 1px solid #F9DE4B;
}

.headerAvatarWrapperMedium {
    width: 75px;
    height: 75px;
    background-size: cover;
    box-shadow: 0 4px 12px rgba(149,157,165,.2);
    border-radius: 50%;
    border: 1px solid #F9DE4B;
}

.headerUserName {
    font-family: 'Druk Bold Regular';
    font-size: 24px;
    margin-right: 22px;
    margin-left: 10px;
}

.userSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.signOutWrapper {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    margin-bottom: 3px;
    cursor: pointer;
}

.signOutWrapper:hover {
    background: #F9DE4B;
}
